
<div class="container">

  <h1>Commandant</h1>
  </div>
  <div class="container-user">
    <div class="card-user-profil">
      <h3>Vos informations capitales :</h3>
      <p>Cyber adresse : <%= @user.email %></p>
      <p>Cyber adresse : <%= @user.email %></p>
      <p>Cyber adresse : <%= @user.email %></p>
    </div>
  </div>
<br>
<h2>Vos reservations :</h2>
<br>
<div class="juju-cards">
  <% @user.orders.each do |order| %>
    <div class="juju-card">
      <div class="juju-body">
        <h4>Commandé par: User.name</h4>
        <%= @user.email %>
        <h3>Commande n°<%= order.id %></h3>
        <p>Reservé le <%= order.created_at %></p>
        <p>Du : <%= order.start_date %> au : <%= order.end_date %></p>
      </div>
      <div class="juju-img" style="background-image: url('https://images.unsplash.com/photo-1565185777274-32ee0b467c41?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=968&q=80')">
      </div>
    </div>
<% end %>
</div>


</div>
