<div class="container">
  <h1>Commandant</h1>
  </div>
  <div class="container-user">
    <div class="card-user-profil">
      <h3>Vos informations capitales :</h3>
      <p>Cyber adresse : <%= @user.email %></p>
      <p>Cyber adresse : <%= @user.email %></p>
      <p>Cyber adresse : <%= @user.email %></p>
    </div>
  </div>
<br>
<h2>Vos reservations :</h2>
<br>
<% @user.orders.each do |order| %>
<h3>Commande n°<%= order.id %></h3>
<p>Reserved at <%= order.created_at %></p>
<p>- - - - - - - -</p>
<% end %>
</div>
