<div class="container-index">
<h1>La vie est belle avec Toto travel</h1>
<p>La garantie d'arriver à bon spatioport</p>
<h2>Nous n'attendions plus que vous...</h2>
<div class="container">
<%= simple_form_for :query, url: spaceships_path, method: "GET", html: { class: 'form-inline' } do |f| %>
  <%= f.input :name, input_html: {value: ""}, id: "name" %>
  <%= f.input :price, collection: ["€","€€","€€€"], label: "Prix" , html_input: "required", input_html: {value: ""}, id: "price" %>
  <%= f.submit "Search", class: "btn btn-primary" %>
<% end %>
</div>
<h2><%= link_to "Proposez son vaisseau", new_spaceship_path %></h2>
<br>
<br>
</div>
<div class="container">
  <div class="cards">
    <% @spaceships.each do |spaceship| %>
      <%= link_to spaceship_path(spaceship) do %>
        <div class="card" style="background-image: <% if spaceship.photo.attached? %>
          url('<%= cl_image_path spaceship.photo.key, height: 300, width: 400, crop: :scale %>')
          <% else %> url('https://images.unsplash.com/photo-1565185777274-32ee0b467c41?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=968&q=80')
          <% end %>">
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= spaceship.name %></h5>
        </div>
      <% end %>
    <% end %>
  </div>


</div>

<%# https://images.unsplash.com/photo-1565185777274-32ee0b467c41?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=968&q=80 %>

