<br>
<h1 class="text-center"><%= @spaceship.name %></h1>


<div class="container">
  <div class="cards-show">
    <div class="card-show"><h3>Price:</h3><%= @spaceship.price %></div>
    <div class="card-show"><h3>Speed:</h3><%= @spaceship.speed %></div>
    <div class="card-show"><h3>Seats:</h3><%= @spaceship.number_of_seats %></div>
  </div>
</div>


    <% if @spaceship.photo.attached? %>
    <div class="spaceship"><%= cl_image_tag @spaceship.photo.key, height: 400, width: 500, crop: :scale %> </div>
    <% end %>


<div class="container show_bottom">
  <div class="vide"></div>
    <div class="card-show-description"><h3>Description:</h3>
      <p><%= @spaceship.description %></p>
  </div>
  <%= link_to "Reserve ton vaisseau", user_orders_path(:spaceship => @spaceship.id, :user_id => current_user.id), :method => :post, class: "btn btn-outline-primary" %>
</div>

