<br>
<h1 class="text-center"><%= @spaceship.name %></h1>


<div class="container">
  <div class="cards-show">
    <div class="card-show"><h3>Prix:</h3><h4><%= @spaceship.price %> €</h4></div>
    <div class="card-show"><h3>Vitesse Max:</h3><h4><%= @spaceship.speed %></h4></div>
    <div class="card-show"><h3>Nombre de sièges:</h3><h4><%= @spaceship.number_of_seats %></h4></div>
  </div>
</div>


    <% if @spaceship.photo.attached? %>
    <div class="spaceship"><%= cl_image_tag @spaceship.photo.key, height: 400, width: 500, crop: :scale %> </div>
    <% end %>


<div class="container show_bottom">
  <% unless @spaceship.orders.blank? %>
    <% @spaceship.orders.each do |order| %>
      <p>Du : <br> <%= order.start_date %></p>
      <p>Au : <br> <%= order.end_date %></p>
    <% end %>
  <% end %>
  <div class="container-show-description">
    <div class="card-show-description"><h3>Description:</h3>
      <p><%= @spaceship.description %></p>
  </div>
  <% if params[:start_date] %>
  <div>
  <p>Du : <br> <%= params[:start_date] %></p>
  <p>Au : <br> <%= params[:end_date] %></p>
  </div>
  <% end %>
  <div class="btn-reservation">
  <%= link_to "Reservez votre vaisseau", user_orders_path(:spaceship => @spaceship.id, :user_id => current_user.id, :start_date => params[:start_date], :end_date => params[:end_date]), :method => :post, class: "btn-reservation" %>  </div>
  </div>
</div>

